body {
  background-color: #f5f1fe;
}
.croissant-image {
  display: flex;
  justify-content: center;
}

a {
  color: blueviolet;
  padding: 15px;
}

.links {
  display: flex;
  justify-content: center;
}

.email {
  padding: 0;
}
