body {
  background-color: #f5f1fe;
}
.croissant-image {
  display: flex;
  justify-content: center;
}

a {
  padding: 15px;
  color: blueviolet;
}

.links {
  display: flex;
  justify-content: center;
}
